setup/nodered-kilodash-flow.json
[
  {"id":"tab-kilodash","type":"tab","label":"kilodash panel","disabled":false,"info":"Serves the kilodash Node-RED screen. GET /kilodash/state returns 4 field labels+values and 4 button labels; POST /kilodash/btn/:n fires a trigger. Feedback values come from flow context f1..f4 (labels f1_label..f4_label). See setup/NODE-RED.md."},

  {"id":"state-in","type":"http in","z":"tab-kilodash","name":"GET /kilodash/state","url":"/kilodash/state","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["state-fn"]]},
  {"id":"state-fn","type":"function","z":"tab-kilodash","name":"build state","func":"// kilodash polls this ~every 2s. Values/labels come from FLOW CONTEXT so any\n// other node can feed a field just by writing flow.f1 .. flow.f4 (and, if you\n// want a custom name, flow.f1_label .. flow.f4_label). Same for button labels.\nconst label = (k, d) => flow.get(k) ?? d;\nconst value = (k) => { const v = flow.get(k); return (v === undefined || v === null) ? '\\u2014' : v; };\nmsg.payload = {\n    fields: [\n        { label: label('f1_label', 'Field 1'), value: value('f1') },\n        { label: label('f2_label', 'Field 2'), value: value('f2') },\n        { label: label('f3_label', 'Field 3'), value: value('f3') },\n        { label: label('f4_label', 'Field 4'), value: value('f4') }\n    ],\n    buttons: [\n        { label: label('b1_label', 'Trigger 1') },\n        { label: label('b2_label', 'Trigger 2') },\n        { label: label('b3_label', 'Trigger 3') },\n        { label: label('b4_label', 'Trigger 4') }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["state-resp"]]},
  {"id":"state-resp","type":"http response","z":"tab-kilodash","name":"","statusCode":"200","headers":{},"x":600,"y":80,"wires":[]},

  {"id":"btn-in","type":"http in","z":"tab-kilodash","name":"POST /kilodash/btn/:n","url":"/kilodash/btn/:n","method":"post","upload":false,"swaggerDoc":"","x":180,"y":180,"wires":[["btn-fn"]]},
  {"id":"btn-fn","type":"function","z":"tab-kilodash","name":"handle trigger","func":"// Fired when a kilodash panel button is tapped. msg.req.params.n is '1'..'4'.\nconst n = msg.req.params.n;\nnode.warn('kilodash trigger ' + n);\n// TODO: branch on n and do your action, e.g.:\n//   if (n === '1') { /* toggle a GPIO, send MQTT, etc. */ }\nmsg.payload = { ok: true, btn: n };\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["btn-resp"]]},
  {"id":"btn-resp","type":"http response","z":"tab-kilodash","name":"","statusCode":"200","headers":{},"x":600,"y":180,"wires":[]},

  {"id":"demo-comment","type":"comment","z":"tab-kilodash","name":"DEMO feedback source — proves Field 1 works, then delete this group","info":"Writes a live clock into Field 1 so you can see the feedback path end-to-end after Deploy. Delete these two nodes once you wire your own sources.","x":300,"y":300,"wires":[]},
  {"id":"demo-inject","type":"inject","z":"tab-kilodash","name":"tick 2s","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["demo-fn"]]},
  {"id":"demo-fn","type":"function","z":"tab-kilodash","name":"write Field 1 = clock","func":"// Example: label Field 1 'Clock' and feed it a live value.\nflow.set('f1_label', 'Clock');\nflow.set('f1', new Date().toLocaleTimeString());\nreturn null;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[[]]}
]
